{:paths []
 :deps {
        pad/coll {:local/root "src/coll"}
       ;  pad/data {:local/root "src/coll"}
       ;  pad/io {:local/root "src/coll"}
       ;  pad/coll {:local/root "src/coll"}
       ;  pad/math {:local/root "src/coll"}
       ;  pad/prn {:local/root "src/coll"}
        ; pad/datomic {:local/root "src/datomic"} import manually
        ; pad/dgraph {:local/root "src/dgraph"} import manually
       }}